
body {
  padding-top: 5rem;
}
.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}
h1 {
  text-shadow: 2px 2px #6a5acd;
}
p {
  font-family: "Lucida Console", "Courier New", monospace;
}
h2 {
  font-family: "Lucida Console", "Courier New", monospace;
}
h1 {
  font-family: "Lucida Console", "Courier New", monospace;
}